<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.cookie.js" | absURL }}"> </script>
<script src="{{ "https://yamaeye.gitee.io/docs/js/ekko-lightbox.js" | absURL }}"></script>
<script src="{{ "https://yamaeye.gitee.io/docs/js/jquery.scrollTo.min.js" | absURL }}"></script>
<script src="{{ "https://yamaeye.gitee.io/docs/js/masonry.pkgd.min.js" | absURL }}"></script>
<script src="{{ "https://yamaeye.gitee.io/docs/js/imagesloaded.pkgd.min.js" | absURL }}"></script>
<script src="{{ "https://yamaeye.gitee.io/docs/js/owl.carousel.min.js" | absURL }}"></script>
<script src="{{ "https://yamaeye.gitee.io/docs/js/front.js" | absURL }}"></script>

<!-- Fastsearch -->
<script src="https://yamaeye.gitee.io/docs/js/fuse.min.js"></script>
<script src="https://yamaeye.gitee.io/docs/js/fastsearch.js"></script>

{{ if .Site.Params.analytics.matomo }}
  {{ partial "_analytics/matomo.html" . }}
{{ end }}
